{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>tckerr.com</title>

        <!-- jquery -->
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>

        <!-- underscore -->
        <script type="text/javascript" src='{% static 'underscore/underscore-min.js' %}'></script>

        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}"></style>
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700' rel='stylesheet' type='text/css'>        
    </head>

    <body>
    	{% block content %}{% endblock content %}
    </body>
</html>