{% extends "base.html" %}

{% block content %}
	<div style = "width:100%;">

		<div class="text-center text-lowercase" style="margin:auto;margin-top:50px;">
			<h3 alt="test">what do you want to know about me?</h3>
		</div>

		<div id="sb" class="text-center">
			<div id="search-div"><input id="lrg-search" class="text-lowercase text-center lrg-input" type="text" /></div>
			<div id="progress-bar" style="margin:auto">
				<div id="progress"></div>
			</div>
		</div>

		<div class="text-center" style="width:80%; margin:auto">
			<div id="entries">
			</div>
		</div>

	</div>

	<style type="text/css">

		*{
			color: #333333;
			font-family: 'Ubuntu Mono'
		}

		.lrg-input{
			border: none;
			width:80%;
			font-size: 5em;
			margin-top:0px;
		}
		.lrg-input:focus{
		    outline: none;
		}
		#sb{
			max-width: 100%;
			height: 100px;
		}
		#progress-bar{
			height:6px;
			width:80%;			
			display:none;
			position: relative;
			right: 0;
			top: 0;
			z-index:100;
		}
		#progress{
			background-color: #70B8FF;
			height:100%;
			width:100%;			
		}
		
		.col{
			display:inline-block;
			margin:0;
			vertical-align: top;			
			font-size: .8em;
			word-wrap: break-word;
		}
		.small-col{

			background-color:#eee;
			padding-right: 5px;			
			width:20%;
			text-align:right;
		}
		.large-col{
			padding-left: 5px;
			width:70%;
			text-align:left;
		}
		#entries{
			max-height:300px;
			max-width:600px;
			overflow-y:auto;
			margin:auto;
		}

	</style>

	<script type="text/javascript">

	$(document).ready(function(){	
		var is_submitting = false;
		// if stalled ------------------
		var stalled = 1;
		var stall_timer = 7500;
		stall();
		function stall(){
			setTimeout(function(){
				if (stalled != -1){
					switch (stalled){
						case 1:
							ask("ask?about=quiet1", true);							
							break;
						case 2:
							ask("ask?about=quiet2", true);							
							break;
						default:
							ask("ask?about=quiet3", false);
							break;
					} 
					stalled++;
					stall_timer += 8000;
					stall();				
				}
			},stall_timer)
		}


		var checkout_timer = '';
		// initialize keywords, matches array
		var keywords = {{ keywords|safe }};
		// get selector
		var lrg_search = $('#lrg-search');
		var progress_bar = $('#progress-bar');
		var progress = $('#progress');
		var entries = $('#entries');
		var prog = 100;
		// focus searchbox
		lrg_search.focus();
		// detect input
		lrg_search.on('input',function(){
			// clear pending reset and matches
			clearTimer();
			// grab string and split it
			var clean_string = $.trim(lrg_search.val());
			for (var i = 0; i < keywords.length; i++){
				if (clean_string.indexOf(keywords[i]) !== -1){
					fireResponseTimer(clean_string, false);
					break;
				} 
			};
		});

		$('#lrg-search').keypress(function (e) {
		 	var key = e.which;
		 	if(key == 13){
		 		clearTimer();
		 		var clean_string = $.trim(lrg_search.val())
		    	fireResponseTimer(clean_string, true);
		  	}
		});  
		
		function fireResponseTimer(clean_string, forced){
			if (forced){
				progress.css('background-color','#FF9966')
			} else {
				progress.css('background-color','#70B8FF')
			}
			progress_bar.show();
			checkout_timer = setInterval(function(){
				prog -= .8 ;
				if ( prog <= 0 ){							
					finish(clean_string);
					lrg_search.val('');	
					lrg_search.focus();
					stalled = -1;
				}
				var new_width = prog + '%'
				progress.width(new_width);
			}, 10)
		}

		function clearTimer(){
			prog = 100;
			clearInterval(checkout_timer);
			progress_bar.hide();
			is_submitting = false;
		}

		function finish(clean_string){
			is_submitting=false;
			clearTimer();
			var url = 'ask?about=' + encodeURIComponent(clean_string.toLowerCase());
			ask(url, false);			
		}

		var anitr = 0;
		function ask(url, fadeout){
			$.ajax({
				method: "GET",
				url: url
			}).done(function(data){
				var id = 'ans_'+anitr;
				var icon = getIcon(data.type);
				entries.prepend('<span id="'+id+'""><hr><div style="margin-top:5px"><div class="col small-col">' + icon +'<strong>' + decodeURIComponent(data.question) + '</strong></div><div class="col large-col">' + data.answer + '</div></div><span>');
				if (fadeout){
					setTimeout(function(id){
						//$("#ans_"+anitr).fadeOut();
					}, 8000)
				}
			})			
		}
		function getIcon(type){
			var icon = ''
			var color = ''
			switch(type){
				case 'Personal Preference':
					color = "green";
					icon ="glyphicon glyphicon-ok";
					break;
				case 'Question':
					color = "orange";
					icon = "glyphicon glyphicon-question-sign";
					break;
				case 'Unknown':
					color = "red";
					icon ="glyphicon glyphicon-remove";
					break;
				case 'Default':
				default:
					return '';
			}
			return ' <span style="float:left;margin-top:1px;;color:' +color+'" class="'+icon+'" aria-hidden="true"></span> ';
		}
	})

	</script>
    
{% endblock content %}

